@layer base, layout;

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
    line-height: calc(1em + 8px);
  }

  :where(html) {
    block-size: 100%;
    color-scheme: light dark;
    font-family: system-ui;

    @media (prefers-reduced-motion: no-preference) {
      scroll-behavior: smooth;
    }
  }

  :where(body) {
    min-block-size: 100%;
  }

  :where(img, picture, video, canvas, svg) {
    display: block;
    max-inline-size: 100%;
  }

  :where(input, button, textarea, select) {
    font: inherit;
  }

  :where(h1, h2, h3, h4, h5, h6) {
    font-size: inherit;
    font-weight: inherit;
    text-wrap: balance;
  }

  :where(p, h1, h2, h3, h4, h5, h6) {
    overflow-wrap: break-word;
  }
}

@layer layout {
  body {
    --layout-container-padding: 16px;
    --layout-container-inline-size: 1280px;

    padding: var(--layout-container-padding);
    max-inline-size: var(--layout-container-inline-size);
    margin-inline: auto;
  }
}
