@layer base, layout, theme;

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
    line-height: calc(1em + 8px);
  }

  :where(html) {
    height: 100%;
  }

  :where(body) {
    min-height: 100%;
    font-family: system-ui;
  }

  :where(img, picture, video, canvas, svg) {
    display: block;
    max-inline-size: 100%;
  }

  :where(input, button, textarea, select) {
    font: inherit;
  }

  :where(p, h1, h2, h3, h4, h5, h6) {
    overflow-wrap: break-word;
  }
}

@layer layout {
  body {
    --layout-container-padding: 16px;
    --layout-container-width: 1280px;

    padding: var(--layout-container-padding);
    max-width: var(--layout-container-width);
    margin-inline: auto;
  }
}

@layer theme {
  :root {
    color-scheme: light dark;
  }
}
